<!-- cart.html -->
{% extends "base.html" %}

{% block content %}
    <h1 class="cart-title">Seu Carrinho</h1>
    <div class="cart-items">
        {% for item in cart_items|dictsort:"cupcake.name" %}
            <!-- HTML -->
            <div class="cart-item">
                <div class="cupcake-image">
                    <img src="{{ item.cupcake.image }}" alt="{{ item.cupcake.name }}">
                </div>
                <div class="cupcake-details">
                    <h3>{{ item.cupcake.name }}</h3>
                    <p>Quantidade: {{ item.quantity }}</p>
                    <p>Preço: R$ {{ item.total_per_product }}</p>
                    <div class="quantity-buttons">
                        <a href="{% url 'remove_from_cart' item.cupcake.id %}" class="quantity-btn"><i class="fas fa-minus"></i></a>
                        <p>{{ item.quantity }}</p>
                        <a href="{% url 'add_cart' item.cupcake.id %}" class="quantity-btn"><i class="fas fa-plus"></i></a>
                    </div>
                    <a href="{% url 'remove_cart_item' item.cupcake.id %}"
                    onclick="return confirm('Você gostaria de remover este item do carrinho ?')"
                    class="btn btn-danger"> Remove</a>

                </div>
            </div>
        {% endfor %}
    </div>
    <div class="total-box">
        <p class="cart-total">Total: R$ {{ total }}</p>
        {% if total == 0 %}
            <a href="" class="checkout-button-unavailable">Checkout</a>
        {% else %}
            <a href="{% url 'checkout' %}" class="checkout-button">Checkout</a>
        {% endif %}
    </div>
{% endblock %}
