{% extends "base.html" %}

{% block content %}
<div class="checkout-bg">
    <div class="checkout-box">
        <header class="checkout-header">
            <h1 class="checkout-header-label">Checkout</h1>
        </header>
        <div class="checkout-content">
            <div class="checkout-row">
                <h2 class="cart-title">Dados Para Entrega</h2>
                <form method="post" class="form">
                    {% csrf_token %}
                    <div class="form__group">
                        <div class="card">
                            {{ customer_form.first_name.label_tag }}
                            {{ customer_form.first_name }}
                            <div class="error-message">{{ customer_form.first_name.errors }}</div>
                            {{ customer_form.last_name.label_tag }}
                            {{ customer_form.last_name }}
                            <div class="error-message">{{ customer_form.last_name.errors }}</div>
                            {{ customer_form.email.label_tag }}
                            {{ customer_form.email }}
                            <div class="error-message">{{ customer_form.email.errors }}</div>
                            {{ customer_form.phone_number.label_tag }}
                            {{ customer_form.phone_number }}
                            <div class="error-message">{{ customer_form.phone_number.errors }}</div>
                        </div>
                    </div>
                    <div class="form__group">
                        <h2>Endereço</h2>
                        <div class="card">
                            <label for="{{ customer_form.street.id }}">Rua</label>
                            {{ address_form.street }}
                            <div class="error-message">{{ address_form.street.errors }}</div>
                            {{ address_form.neighborhood.label_tag }}
                            {{ address_form.neighborhood }}
                            <div class="error-message">{{ address_form.neighborhood.errors }}</div>
                            {{ address_form.city.label_tag }}
                            {{ address_form.city }}
                            <div class="error-message">{{ address_form.city.errors }}</div>
                            {{ address_form.state.label_tag }}
                            {{ address_form.state }}
                            <div class="error-message">{{ address_form.state.errors }}</div>
                            {{ address_form.zip_code.label_tag }}
                            {{ address_form.zip_code }}
                            <div class="error-message">{{ address_form.zip_code.errors }}</div>
                            
                        
                        </div>
                    </div>
                    <div>
                    <button type="submit" class="finish-button">Cadastrar e Finalizar Pedido</a>
                    </div>
                </form>
            </div>
            <div class="checkout-row">
                <h2 class="cart-title">Seu Pedido</h2>
                <table class="checkout-items">
                    <tbody>
                        {% for item in cart_view.cart_items %}
                            <tr>
                                <td>{{ item.cupcake.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>R$ {{ item.total_per_product }}</td>    
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr class="checkout-divider">

                <div class="checkout-total">
                    <p>Total: R$ {{ cart_view.total }}</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
