{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake E-commerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Borel">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/cupcake_logo.png' %}" alt="Logo Cupcake E-commerce" width="55" height="55">
            <div class="header-text" >Cupcake Lover</div>
        </div>
        <div class="menu-box">
            <ul>
                <li><a href="{% url 'user-account' %}"><i class="fas fa-user"></i> Perfil</a></li>
                <li><a href="{% url 'order-history' %}"><i class="fas fa-clipboard-list"></i> Pedidos</a></li>
                <div class="cart-badge">
                    <li><a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a></li>
                    <span class="badge-count">{{ cart_count }}</span>
                </div>
            </ul>
        </div>
    </header>
    
    <main>
        {% for cupcake in cupcakes %}
        <section class="cupcake-box">
            <img src="{{ cupcake.image }}">
            <h2 class="cupcake-name">{{ cupcake.name }}</h2>
            <span class="price">R$ {{ cupcake.price }}</span>
            <a href="{% url 'add_cart' cupcake.id %}" class="add-to-cart">Adicionar</a>
        </section>
        {% endfor %}
    </main>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2023 Cupcake Lover. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
