{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake E-commerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Borel">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/cupcake_logo.png' %}" alt="Logo Cupcake E-commerce" width="55" height="55">
            <div class="header-text" >Cupcake Lover</div>
        </div>
        <ul class="nav-links">
            <div id="cart-icon">
                <a href="{% url 'view-cart' %}">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                    <span id="cart-count">0</span>
                </a>
            </div>
            <li><a href="#"><i class="fas fa-user fa-2x"></i></a></li>
        </ul>
    </header>
    
    <main>
        <!-- <script src="{% static 'java_script/cart_count.js' %}"></script> -->
        {% for cupcake in cupcakes %}
        <section class="cupcake-box">
            <img src="{{ cupcake.imagem }}">
            <h2 class="cupcake-name">{{ cupcake.nome }}</h2>
            <span class="price">R$ {{ cupcake.preco }}</span>
            <a href="{% url 'add-to-cart' cupcake.id %}" class="add-to-cart">Adicionar</a>
        </section>
        {% endfor %}
    </main>
</body>
</html>
